# Default ignored files
/shelf/
/workspace.xml
# Datasources.local.xml
/dataSources/
/dataSources.local.xml
#Eidtor-based HTTP Client requests
/httpRequests/
# Generated IntelliJ Sources
/build
#Generated Gradle Siurces
/.gradle